/Bcsapat/HLWEB1/resources/honda.png
/.idea/workspace.xml
/Bcsapat/HLWEB1/.idea/workspace.xml
/HLWEB1/.idea/.gitignore
/HLWEB1/resources/favicon-16x16.png
/HLWEB1/resources/hegy.jpg
/HLWEB1/resources/honda.png
/HLWEB1/index1.html
/HLWEB1/.idea/modules.xml
/HLWEB1/.idea/Web1.iml
